.Card {
    width: 10rem;
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.75);
    padding: 1.5em;
    border-radius: 1rem;
    margin: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    background-color: #fff;

    transition: all 0.4s;

}

.Card:hover {
    scale: 1.1;
}

.Card:hover img {
    transform: translate(0, -14px);
    scale: 1.5;
}

.Card>img {
    width: 3.5rem;
    border-radius: 50%;
    transition: all 0.4s;

}

.Card>h3 {
    text-align: center;
}

button {
    padding: 0.5em 1em;
    font-weight: 500;
    border: none;
    border-radius: 1rem;
    cursor: pointer;

}